
*.o

*.o

BRClient/obj/CThread.o

BRClient/obj/Global.o

BRClient/obj/ItemBarcode.o

BRClient/obj/main.o

BRClient/obj/moc_CTcpClient.cpp

BRClient/obj/moc_CThread.cpp

BRClient/obj/moc_Global.cpp

BRClient/obj/moc_ItemBarcode.cpp
